<h1 style="margin-bottom: 15px;">
  <%=h @brew.title %>
</h1>
<div style="float: right;">
  <% show_to :owner, :of => @brew do %>
    <%= render :partial => "edit" %>
  <% end %>
  <% show_to :nonowner, :of => @brew do %>
    <%= render :partial => "status" %>
  <% end %>
</div>
<div style="float: left; width: 500px;">
  <% @brew.brewnotes.each do |note| %>
    <div id="entry_<%= note.id %>" class="journal_entry">
      <% if note.valid? %>
      <p>
        <div style="float: left;">
          <% if !note.recorded_at.nil? %>
            <%= "<em>On " + note.recorded_at.localtime.strftime("%a, %b %d, %Y") + ", #{@brew.user.nickname} wrote: </em>"%>
          <% end %>
        </div>
        <div style="float: right;">
          <% if !note.gravity.nil? %>
            <%= "Gravity reading: #{note.gravity}" %>
          <% end %>
        </div>
      </p>
      <p><%= note.body %></p>
      <p>
        <% show_to :owner, :of => @brew do %>
          <div style="float: right;">
            <%= link_to "Edit", edit_brewnote_path(note) %> |
            <%= link_to_remote 'Delete', :url => brewnote_path(note), :confirm => 'This will permanently delete this note. Are you sure?', :method => :delete, :update => "entry_#{note.id}" %>
          </div>
        <% end %>
      </p>
      <% end %>
    </div>
  <% end %>
  <% show_to :owner, :of => @brew do %>
    <%= render :partial => "new_brewnote" %>
  <% end %>
</div>