<h1>Update your profile</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>
  <table border="0">
    <tr>
      <td><%= f.label "Email:" %></td>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <td><%= f.label "Nickname:" %></td>
      <td><%= f.text_field :nickname %></td>
    </tr>
    <tr>
      <td><%= f.label "Password:" %></td>
      <td><%= f.password_field :password %></td>
    </tr>
    <tr>
      <td><%= f.label "Confirm:" %></td>
      <td><%= f.password_field :password_confirmation %></td>
    </tr>
    <tr>
      <td colspan="2"><%= f.submit "Update Profile", :class => "big_red_button" %></td>
    </tr>
  </table>
<% end %>