<div style="width: 500px;">
<h2>Edit Note</h2>

<% form_for @brewnote do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.label "Note:" %>
    <%= f.text_area :body, :style => "width: 500px", :class => "mceEditor" %>
  </p>

  <div style="float: left; margin-bottom: 15px;">
    <%= f.label "Gravity reading:" %>
    <%= f.text_field :gravity, :size => 5 %><br />
    <%= f.label "Entry date:" %>
    <%= calendar_date_select_tag "brewnote[recorded_at]", @brewnote.recorded_at.localtime.to_s, :time => true, :size => 35 %>
  </div>
  <div style="float: right; margin-bottom: 15px;">
    <%= f.submit "Save Changes!", :class=>"big_red_button" %>
  </div>
<% end %>
</div>