<div id="pitch">
	<h1>
	  Homebrewing meets social media
	</h1>
	<p>
	  KitchenBrewer is a resource for homebrewers. It integrates with social networks like Twitter and Facebook to help connect you with other brewers.
	</p>
  <% unless current_user %>
    <% form_for(User.new) do |f| %>
      <%= f.error_messages %>
      <table style="border: 3px solid #A55; padding: 17px">
        <tr>
          <td>
            <%= f.label "Email:" %>
            <%= f.text_field :email, :size => 45, :style => "float: right;" %>
            <br />
            <div style="float: left;">
              <%= f.label "Password:" %>
              <%= f.password_field :password, :size => 10 %>
            </div>
            <div style="float: right;">
              <%= f.label "and again:" %>
              <%= f.password_field :password_confirmation, :size => 10%>
            </div>
          </td>
          <td>
            <%= f.submit "1-click Sign Up!", :class => "welcome_submit" %>
          </td>
        </tr>
      </table>
    <% end %>
  <% end %>
</div>
<div class="third">
	<h3>Log Your Progress</h3>
	<p>
	  Use our brewing journal to track your brew from boil to glass. 
	</p>
</div>
<div class="third">
	<h3>Share Your Recipes</h3>
	<p>
	  Post your recipes for others to try.
	</p>
</div>
<div class="third last">
	<h3>Get Help</h3>
	<p>
	  Get help from other members when you have questions.
	</p>
</div>