<div id="pitch">
	<h1>
	  Tools for Homebrewers
	</h1>
	<p>
	  KitchenBrewer helps you find and share recipes, get tips from fellow brewers, track your beer's progress, and post to Twitter and Facebook to tell the world about your brew.
	</p>
  <% unless current_user %>
    <% form_for(User.new) do |f| %>
      <%= f.error_messages %>
      <table class="highlight_table" style="margin-top: -14px">
        <tr>
          <td>
            <%= f.label "Email:" %>
            <%= f.text_field :email, :size => 45, :style => "float: right;" %>
            <br />
            <div style="float: left;">
              <%= f.label "Password:" %>
              <%= f.password_field :password, :size => 10 %>
            </div>
            <div style="float: right;">
              <%= f.label "and again:" %>
              <%= f.password_field :password_confirmation, :size => 10%>
            </div>
          </td>
          <td>
            <%= f.submit "1-click Sign Up!", :class => "big_red_button" %>
          </td>
        </tr>
      </table>
    <% end %>
  <% end %>
</div>
<div class="third">
	<h3>Log Your Progress</h3>
	<p>
	  Our brewing journal tracks your brews from the brewpot into your glass. If you run into trouble, other members can look at what you did and provide feedback. 
	</p>
</div>
<div class="third">
	<h3>Share Recipes</h3>
	<p>
	  Post your favorite recipes for others, or try something other brewer's are raving about. You can tweak the recipes on our site and re-publish them for others to try.
	</p>
</div>
<div class="third last">
	<h3>Get Help</h3>
	<p>
	  Get help from other members when you have questions. We keep all your brewing data in one place, so there's no need to retype everything you did when you need to ask a question.
	</p>
</div>